
  
  #page-content-wrapper {
    /* page content styles */
    width: 100%;
    /* make sure page content takes up full screen width */
    min-height: 100vh;
    /* make sure page content takes up full screen height */
    padding: 1.5rem;
    
  }
  
  